/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  font-family: 'Bree Serif';
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar {
  background-color: transparent;
  width: 280px;
  border: 1px solid #7b8794;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
}
.search {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.icon {
  width: 28px;
}
.tabs-container {
  margin: auto;
  list-style-type: none;
  display: flex;

  justify-content: center;
}
.app-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
